* {
    margin: 10px;
}

.border{
    height: 100px;

    background-color: rgb(116, 149, 88);
  


}

h3{
    font-size: 40px;
}


.blogs {
    background-color: aquamarine;
    margin: 10px;
    border: 5px solid red;
    border-radius: 10px;

    padding: 10px;
    text-align: justify;

    box-shadow: 10px 10px 10px yellow;
}

.second{
    /* display: none; */
    visibility: hidden;
}